@font-face {
  font-family: "Inter Semibold";
  src: url("/fonts/static/Inter-Semibold.ttf");
}

#root {
  -fx-background-image: url("/img/Background2.png");
  /* -fx-background-repeat: stretch; */
  -fx-background-size: cover;
  -fx-background-position: center center;
  -fx-padding: 60 66 60 66;
}

#hBox {
  -fx-background-color: rgba(44, 47, 72, 0.5);
  -fx-background-radius: 10;
}

#started {
  -fx-font-family: "Inter Semibold";
  -fx-font-size: 35px;
  -fx-text-fill: white;
}

#vBox-wrapper {
  /* -fx-pref-width: 600; */
  /* -fx-background-color: black; */
  /* -fx-padding: 150 240 150 0; */
}

#vBox {
  /* -fx-background-color: white; */
  -fx-background-color: rgba(29, 32, 62, 0.3);
  -fx-background-radius: 20px;
}

#vBox2 {
  -fx-pref-width: 600;
}

#hello {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 50px;
  -fx-padding: 94 0 0 50;
}

#welcome {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 40px;
  -fx-padding: 7 0 0 50;
}

#desc {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: #2c2f48;
  -fx-font-size: 40px;
  -fx-padding: 12 0 0 50;
}

#startedWrapper {
  -fx-alignment: center;
}

#buttonWrapper {
  -fx-alignment: center;
}

#signin {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 20px;
  -fx-background-color: #2c2f48;
  -fx-background-radius: 30px;
  -fx-pref-width: 300px;
  -fx-cursor: hand;
}

#signin:hover {
  -fx-background-color: #676a80;
}

#signup {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 20px;
  -fx-background-color: #2c2f48;
  -fx-background-radius: 30px;
  -fx-pref-width: 300px;
  -fx-cursor: hand;
}

#signup:hover {
  -fx-background-color: #676a80;
}

#minibold {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 15px;
  -fx-font-weight: 600;
  -fx-line-height: 18.15px;
  -fx-alignment: center right;
}

#vBoxSigninWrapper {
  -fx-pref-width: 422px;
  -fx-pref-height: 534px;
}

#backgroundpane {
  -fx-background-color: #2c2f48;
  -fx-background-radius: 16px;
}

.dream {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: #d0b9d3;
  -fx-font-size: 20px;
  -fx-background-color: rgba(44, 47, 72, 0.5);
  -fx-background-radius: 20px;
  -fx-pref-width: 278px;
  -fx-pref-height: 76px;
  -fx-cursor: hand;
  -fx-alignment: center-left;
  -fx-padding: 0 0 0 70px;
  -fx-background-size: 45px 45px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: 10px center;
}

.dream:hover {
  -fx-background-color: #2c2f48;
}

#pendidikanAnak {
  -fx-background-image: url("/img/anak.png");
}

#danaDarurat {
  -fx-background-image: url("/img/darurat.png");
}

#liburan {
  -fx-background-image: url("/img/liburan.png");
}

#investasi {
  -fx-background-image: url("/img/investasi.png");
}

#pensiun {
  -fx-background-image: url("/img/pensiun.png");
}

#barang {
  -fx-background-image: url("/img/barang.png");
}

#menikah {
  -fx-background-image: url("/img/menikah.png");
}

#kendaraan {
  -fx-background-image: url("/img/kendaraan.png");
}

#hBoxinput {
  -fx-alignment: CENTER_LEFT;
  -fx-spacing: 10;
}

#input {
  -fx-font-family: "Inter Semibold";
  -fx-font-size: 20px;
  -fx-text-fill: white;
}

#ket {
  -fx-font-family: "Inter Semibold";
  -fx-font-size: 20px;
  -fx-text-fill: #d0b9d3;
}

#error {
  -fx-font-family: "Inter Semibold";
  -fx-font-size: 20px;
  -fx-text-fill: red;
}

#field {
  -fx-background-color: #676a80;
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 20px;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-pref-width: 209px;
  -fx-pref-height: 38px;
}

#field2 {
  -fx-background-color: #676a80;
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 20px;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-pref-width: 78px;
  -fx-pref-height: 38px;
}

#tahun {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 20px;
}

#besardp {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 20px;
}

#pinjamanMu {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 20px;
}

#pokokUtang {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 20px;
}

#uangYangDibutuhkan {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 20px;
}

#rp2 {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 20px;
}

#masaPensiun {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 20px;
}

#rp4 {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 20px;
}

#rutin {
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 20px;
}

#uangSaatIni {
  -fx-background-color: #676a80;
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: white;
  -fx-font-size: 20px;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
}

#hasil {
  -fx-background-color: #d9d9d9;
  -fx-font-family: "Inter Semibold";
  -fx-text-fill: #2c2f48;
  -fx-font-size: 20px;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-pref-height: 48px;
  -fx-cursor: hand;
}

#hasil:hover {
  -fx-background-color: #d0b9d3;
}

#alert {
  -fx-background-color: #2c2f48;
  -fx-min-width: 500; /* Minimum width */
  -fx-min-height: 200px; /* Minimum height */

  -fx-font-size: 14px;
  -fx-font-family: "Inter Semibold";
  -fx-padding: 10;
  -fx-text-fill: white;
}

#alert .dialog-pane {
  -fx-background-color: #2c2f48;
  -fx-border-width: 2;
  -fx-text-fill: white;
}

#alert .header-panel {
  -fx-background-color: #2c2f48;
}

#alert .header-panel .label {
  -fx-text-fill: white;
}

#alert .content {
  -fx-padding: 10;
  -fx-text-fill: white;
  -fx-wrap-text: true; /* Membuat teks dapat membungkus */
}
